* {
    font-family: "Helvetica", "Georgia", sans-serif;
}

.title {
    background-color: aliceblue;
    color: darkslategrey;
    text-align: center;

}

#directory {
    background-color: aliceblue;
    text-align: center;
}

#directory > li {
    color: black;
    list-style-type: none;
}

p {
    font-style: italic;
}

ul,
ol {
    background-color: aquamarine;
    padding: 5px;
    margin: 5px;
}

ul > li,
ol > li {
    color: rgb(32, 178, 170);

}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}